@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Racing+Sans+One&family=Righteous&display=swap');
.todo_header {
  text-align: center;
  font-size: clamp(3rem, 4vw + 20%, 4rem);
  margin: 1rem 0;
  letter-spacing: 0.03rem;
  font-family: map-get($fonts, 'font-catamaran');
}
.showInsertTodo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  right: 20px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background-image: linear-gradient(
    56deg,
    map-get($colors, 'primary'),
    map-get($colors, 'secondary'),
    map-get($colors, 'purple')
  );
  margin-top: 4rem;
  border: none;
  cursor: pointer;
}

.container_insert_todo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  gap: 2rem;
  width: 300px;
  min-height: 300px;
  bottom: 12rem;
  position: absolute;
  top: 14rem;
  right: 32rem;
  background-color: map-get($colors, 'light-alt');
  border-radius: map-get($sizes, 'f-medium');
}
.add_todo_btn {
  border-radius: map-get($sizes, 'f-medium');
  padding: 0.6rem;
  border: none;
  font-size: clamp(1.5rem, 2vw + 4%, 1.6rem);
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  // outline: none;
  background-image: linear-gradient(
    56deg,
    map-get($colors, 'primary'),
    map-get($colors, 'secondary'),
    map-get($colors, 'purple')
  );
  transition: background-image 400ms ease-in-out;
  &:hover {
    background-image: linear-gradient(
      56deg,
      lighten(map-get($colors, 'primary'), 20%),
      lighten(map-get($colors, 'secondary'), 20%),
      lighten(map-get($colors, 'purple'), 20%)
    );
    transition: background-image 400ms ease-in-out;
  }
}
.insert_todo {
  margin-top: 4rem;
  padding: 1rem;
  border-radius: map-get($sizes, 'f-medium');
  border: none;
  // outline: none;
  font-size: map-get($sizes, 'font-m');
}
.todo {
  color: white;
  background-color: map-get($colors, 'dark-alt');
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  border-radius: map-get($sizes, 'font-m');
  min-width: 200px;
  align-items: center;
}
.trash_bin {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
.completed {
  width: 20px;
  height: 20px;
  border-radius: 999px;
  background-color: map-get($colors, 'light-alt');
  cursor: pointer;
}
.completed .is_complete {
  .text {
    color: red;
  }
  background-image: linear-gradient(
    56deg,
    map-get($colors, 'primary'),
    map-get($colors, 'secondary'),
    map-get($colors, 'purple')
  );
}
.is_complete {
  background-color: lime;
}
