* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: rgba(65, 60, 60, 0.432);
  display: flex;
  align-items: center;
  justify-content: center;
}
